---
import DocsLayout from '../../../../layouts/DocsLayout.astro';

const breadcrumbs = [
  { label: 'Documentation', href: '/odin/docs/introduction/overview' },
  { label: 'Examples' },
  { label: 'Function Calls' },
];

const headings = [
  { depth: 2, slug: 'example', text: 'Example' },
];
---

<DocsLayout
  title="Function Calls Example"
  description="Using function calls in generators"
  breadcrumbs={breadcrumbs}
  headings={headings}
>
  <h2 id="example">Example</h2>

  <pre set:html={`<code>model User {
  fields {
    email() string
    fullName() string
  }

  gens {
    func email() {
      first = FirstName()
      domain = Domain()
      return first + "@" + domain
    }

    func fullName() {
      return FirstName() + " " + LastName()
    }
  }
}</code>`}></pre>

  <h2>Related Documentation</h2>
  <ul>
    <li><a href="/odin/docs/concepts/advanced/function-calls">Function Calls</a></li>
    <li><a href="/odin/docs/language/built-in-functions">Built-in Functions</a></li>
  </ul>
</DocsLayout>

